.hero {
  width: 100vw;
  height: max-content;
  background-image: url("../../assets/images/start.jpg");
  background-size: cover;
  background-position: top;
}

.content {
  max-width: 1200px;
  width: calc(100vw - 100px);
  height: 100%;
  margin: 0 auto;
  display: flex;
}

.hero .content {
  padding-top: 20%;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

.title {
  font-family: "Rubik Spray Paint", system-ui;
  font-weight: 400;
  font-size: 80px;
  line-height: 84px;
  color: white;
}

.description {
  width: 420px;
  margin-top: 60px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
}

.points {
  width: 100vw;
  height: 1200px;
  background-color: #ffffff;
  position: static;
}

span {
  margin-top: 10px;
  background-color: #ea598b;
  height: 1px;
  width: 200px;
}

.content p:last-child {
  margin: 10px 0;
  font-size: 16px;
}

@media screen and (min-width: 1440px) {
  .content {
    padding-top: 300px;
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding-top: 30%;
  }
}

@media screen and (max-width: 500px) {
  .content {
    padding-top: 60%;
  }
}