.layout {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #7e74a8;
}

.layoutPortal {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
    margin: 0 auto;
}