.section {
  width: 100vw;
  min-height: 100vh;
  background-color: #7e74a8;
  padding-top: 87px;
  background-size: cover;
  background-position: top;
}

.wavyContainer {
  padding-top: 4%;
  width: max-content;
  margin: 0 auto;
}

@media screen and (max-width: 500px) {
  .wavyContainer {
    width: calc(100% - 32px);
  }
}